<div class="notebook">
 <div class="right">
    <h1>Notebook: {{notebook.title}}</h1>
    <img src="{{notebook.img}}" alt="{{notebook.title}}">
 </div>
  <div class="left">
    <p>{{notebook.description}}</p>
  <p class="price big">{{notebook.price}}</p>
  </div>
</div>